* {
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    */
}

/* CSS CODE FOR BANNER */

.banner-section {
    max-width: 1320px;
    margin: 0 auto;
    margin-top: 50px;
    align-items: center;
    text-align: center;
    padding-top: 177px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("/resources/Banner Image.png");
    padding-bottom: 177px;

}

.banner-section h3 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.banner-section h1 {
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;

}

/* Discount start */
.discount {
    max-width: 802px;
    margin: 0 auto;
    margin-top: 120px;
    align-items: center;
    text-align: center;
}

.discount h1 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 48px;
}

.discount h6 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.discount h5 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.discount img {
    margin: 48px;
}

/* Welcome Party Css */

.welcome-section {
    max-width: 1320px;
    margin: 0 auto;
    margin-top: 50px;
    align-items: center;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("/resources/Vectorrr.png");
    display: flex;
    justify-content: center;
    padding: 68px 138px 68px 126px;
    gap: 40px;
}

.welcome-section .welcome-column {

    align-items: start;
    text-align: left;
}

.welcome-section h3 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    /* 137.5% */
    letter-spacing: 7.04px;
}

.welcome-section p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
    /* 166.667% */
}

.welcome-section input {
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
    margin-top: 48px;
    color:#FFF;
    cursor: pointer;
}